/* #badge
{
    left:auto !important;
    right: 0;
}
@media only screen and (max-width: 600px) {
    #badge
    {
        left:80% !important;
        right: auto !important ;
    }
} */
.author
{
    color: rgb(255, 129, 32);
    font-weight: 400;
    font-size: smaller;
}